<parameters>
  <param label="Project" name="project" type="select" value="" help="Project to assign resource allocation to.">
       <option value="----">Select the project you want to run the job</option>
       <option value="ec73">ec73</option>
       <option value="ec12">ec12</option>
       <option value="ec01">ec01</option>
  </param>

</parameters>
