<?xml version="1.0"?>
<!--
    Huge chunks of text were stolen wholesale from MSI's data storage website
    (https://www.msi.umn.edu/content/data-storage). I've made large changes and adapted
    this for demonstration purposes - none of the text or policies or guarantees reflect
    actual current MSI or UMN policies.
-->


<object_store type="distributed">

    <backends>

       <backend id="galaxy-server-storage" allow_selection="true" type="disk" name="Galaxy-FOX server storage" store_by="uuid" order="0" weight="10">
           <files_dir path="{{ galaxy_lifeportal_data_dir }}/files"/>
           <extra_dir type="temp" path="{{ galaxy_lifeportal_data_dir }}/tmp"/>
           <extra_dir type="job_work" path="{{ galaxy_lifeportal_data_dir }}/jobs_directory"/>
           <badges>
                <faster />
                <more_stable />
                <backed_up>Backed up to Galaxy</backed_up>
            </badges>
       </backend>


       <backend id="fox-homedir" allow_selection="true" type="disk" name="FOX-Home High Performance Storage" store_by="uuid" order="1" weight="10">
           <files_dir path="/fp/homes01/u01/{{ galaxy_user_name }}/"/>
           <extra_dir type="temp" path="{{ galaxy_lifeportal_data_dir }}/tmp"/>
           <extra_dir type="job_work" path="{{ galaxy_lifeportal_data_dir }}/jobs_directory"/>
           <badges>
                <faster />
                <more_stable />
                <backed_up>Backed up to FOX storage.</backed_up>
            </badges>
       </backend>

    </backends>

</object_store>
